@mixin sign($clr_sign, $clr_shdw, $bg, $txt_shdw, $width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    background: $bg;

    .long_word_cover {
        position: relative;

        .long_word {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Press Start 2P', cursive;
            font-size: 19vw;
            color: $clr_sign;
            text-shadow: 2px 2px 0 $txt_shdw, 2px -2px 0 $txt_shdw, -2px 2px 0 $txt_shdw, -2px -2px 0 $txt_shdw, 2px 0px 0 $txt_shdw, 0px 2px 0 $txt_shdw, -2px 0px 0 $txt_shdw, 0px -2px 0 $txt_shdw;

            .letter_down {
                transform: translate(0, 1vw);
            }
        }

        .js_sign {
            position: absolute;
            left: 0; top: 0;
            z-index: 0;
            color: $clr_shdw;
            transition: left 1s, top 1s;
        }

        .js_anima_sign {
            left: .5vw; top: 1.5vw;
        }
    }
}

/* ----------------------------------------------------------- */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {

    .parallax_fixed {
        position: fixed;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-image: url('them-movie-giant-ant.jpg');
        background-repeat: no-repeat;
    }

    .outer-wrapper {
        position: absolute;
        width: 100vh;
        height: 100vw;
        -webkit-transform: rotate(-90deg) translateX(-100vh);
        -ms-transform: rotate(-90deg) translateX(-100vh);
        transform: rotate(-90deg) translateX(-100vh);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;

        .wrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 1100vw;
            -webkit-transform: rotate(90deg) translateY(-100vh);
            -ms-transform: rotate(90deg) translateY(-100vh);
            transform: rotate(90deg) translateY(-100vh);
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;

            .block {
                width: 100vw;
                min-width: 800px;
                height: 100vh;
            }

            .I {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;

                    .logo {
                        position: absolute;
                        left: 2vw; top: 2vw;
                        width: 10vw;
                    }

                    .bug {
                        position: relative;
                        z-index: 1;
                        width: 50vw;
                    }

                    .bugs_shadow {
                        position: absolute;
                        z-index: 0;
                        left: 35vw; top: 5vw;
                        width: 40vw;
                        height: 40vw;
                        border-radius: 50%;
                        background: #FF00FF;
                    }
            }

            .parallax_bg_block {
                display: flex;
                background: #fff;

                .II {
                    position: relative;
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(10, 10, 10);
                    -webkit-transform: skewX(-10deg);
                    -ms-transform: skewX(-10deg);
                    transform: skewX(-10deg);
                    -webkit-transform-origin: 100% 0;
                    -ms-transform-origin: 100% 0;
                    transform-origin: 100% 0;
    
                    .txt {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                        height: 50%;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-size: 2vw;
                        color: #fff;
                        -webkit-transform: skewX(10deg);
                        -ms-transform: skewX(10deg);
                        transform: skewX(10deg);
                        -webkit-transform-origin: 100% 0;
                        -ms-transform-origin: 100% 0;
                        transform-origin: 100% 0;
                    }
                }

                .sign {
                    @include sign(#fff, #000, #fff, #000, 180vw);

                    @keyframes draw {
                        to {
                            stroke-dashoffset: 0;
                        }
                    }
                }

                .III {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgb(10, 10, 10);
                    -webkit-transform: skewX(10deg);
                    -ms-transform: skewX(10deg);
                    transform: skewX(10deg);
                    -webkit-transform-origin: 100% 0;
                    -ms-transform-origin: 100% 0;
                    transform-origin: 100% 0;
    
                    .txt_block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        margin-bottom: 5vw;
                        font-family: 'Open Sans Condensed', sans-serif;
                        color: #fff;
                        -webkit-transform: skewX(-10deg);
                        -ms-transform: skewX(-10deg);
                        transform: skewX(-10deg);
                        -webkit-transform-origin: 100% 0;
                        -ms-transform-origin: 100% 0;
                        transform-origin: 100% 0;
    
                        .h_logo {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
    
                            h1 {
                                font-size: 3vw;
                            }
        
                            .logo_naladka {
                                width: 4.5vw;
                                height: 4vw;
                                margin-left: 1.5vw;
                                background-image: url('naladka-logo.png');
                                background-size: cover;
                            }
    
                            .logo_argus {
                                width: 4vw;
                                height: 4vw;
                                margin-left: 1.5vw;
                                background-image: url('ffhkigpalgidjmom.png');
                                background-size: cover;
                            }
    
                            .logo_article {
                                width: 4vw;
                                height: 4vw;
                                margin-left: 1.5vw;
                                background-image: url(' article_logo.png');
                                background-size: cover;
                            }
                        }
        
                        .txtII {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.9vw;
                        }
        
                        .to_site {
                            width: 10vw;
                            height: 3.5vw;
                            margin-top: 1vw;
                            font-family: 'Open Sans Condensed', sans-serif;
                            font-size: 1.7vw;
                            border: none;
                            outline: none;
                            background: #FFF;
                        }
    
                        .to_site:focus,
                        .to_site:active {
                            border: none;
                            outline: none;
                        }
                    }
    
                    .argus {
                        margin-left: 20vw;
                        margin-bottom: 0;
                    }  
                }
            }

            .parallax_window_block {
                display: flex;
                width: 15vw;
                padding: 1vw;
                background: #fff;
                transform: skewX(10deg);
                transform-origin: 100% 0;
                min-width: 0;
                background: #fff;
                transition: transform 1s;
                transform: skewX(10deg) translateY(-100vh);

                .parallax_window_block_inner {
                    width: 100%;
                    height: 100%;
                    background: #000;
                }
            }

            .js_parallax_window_block {
                transform: skewX(10deg) translateY(0vh);
            }

            .sign {
                @include sign(#fff, #000, #fff, #000, 180vw);
            }

            .long_black, .long_white {
                width: 220vw;
                -webkit-transform: skewX(10deg);
                -ms-transform: skewX(10deg);
                transform: skewX(10deg);
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;

                .long_word_cover {
                    .long_word {
                        -webkit-transform: skewX(-10deg);
                        -ms-transform: skewX(-10deg);
                        transform: skewX(-10deg);
                        -webkit-transform-origin: 100% 0;
                        -ms-transform-origin: 100% 0;
                        transform-origin: 100% 0;
                    }
                }
            }

            .long_white {
                @include sign(#fff, #000, transparent, #000, 220vw);
            }

            .IV {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 110vw;
                background: #000;
                -webkit-transform: skewX(10deg);
                -ms-transform: skewX(10deg);
                transform: skewX(10deg);
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;

                .txt_block {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 5vw;
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                    -webkit-transform: skewX(-10deg);
                    -ms-transform: skewX(-10deg);
                    transform: skewX(-10deg);
                    -webkit-transform-origin: 100% 0;
                    -ms-transform-origin: 100% 0;
                    transform-origin: 100% 0;
    
                    .to_site {
                        width: 10vw;
                        height: 3.5vw;
                        margin-top: 1vw;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-size: 1.7vw;
                        border: none;
                        outline: none;
                        color: #000;
                        background: #fff;
                    }

                    .to_site:focus,
                    .to_site:active {
                        border: none;
                        outline: none;
                    }

                    .h_logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        h1 {
                            font-size: 3vw;
                        }
    
                        .logo_naladka {
                            width: 4.5vw;
                            height: 4vw;
                            margin-left: 1.5vw;
                            background-image: url('naladka-logo.png');
                            background-size: cover;
                        }

                        .logo_argus {
                            width: 4vw;
                            height: 4vw;
                            margin-left: 1.5vw;
                            background-image: url('ffhkigpalgidjmom.png');
                            background-size: cover;
                        }

                        .logo_article {
                            width: 4vw;
                            height: 4vw;
                            margin-left: 1.5vw;
                            background-image: url(' article_logo.png');
                            background-size: cover;
                            filter: invert(1);
                        }
                    }
    
                    .txtII {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.9vw;
                    }
                }

                .article_I {
                    margin: 5vw 0 1.5vw 1vw;
                }

                .article_II {
                    margin: 0 0 1.5vw 20vw;
                }

                .article_III {
                    margin-left: 27vw;
                }
            }
            
            .block_V_cover {
                background: #0a0a0a;

                .V {
                    position: relative;
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(10, 10, 10);
                    -webkit-transform: skewX(-10deg);
                    -ms-transform: skewX(-10deg);
                    transform: skewX(-10deg);
                    -webkit-transform-origin: 100% 0;
                    -ms-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                    width: 90vw;
                    min-width: 0;

                    .skew_back_block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        -webkit-transform: skewX(10deg);
                        -ms-transform: skewX(10deg);
                        transform: skewX(10deg);
                        -webkit-transform-origin: 100% 0;
                        -ms-transform-origin: 100% 0;
                        transform-origin: 100% 0;

                        .links_cover {
                            margin-bottom: 10rem;

                            a {
                                font-family: "Open Sans Condensed", sans-serif;
                                font-size: 3vw;
                                text-decoration: none;
                                color: #fff;
                            }

                            a:nth-child(2) {
                                margin: 0 5vw;
                            }

                            a:hover {
                                border-bottom: .2vw solid #FFF;
                            }
                        }

                        .my_photo {
                            width: 50vw;
                            transform: none;
                        }
                    }
                }

            }
        }
    }
}