/* ----------------------------------------------------------- */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body .parallax_fixed {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("them-movie-giant-ant.jpg");
  background-repeat: no-repeat;
}
body .outer-wrapper {
  position: absolute;
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
  -ms-transform: rotate(-90deg) translateX(-100vh);
  transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .outer-wrapper .wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1100vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
  -ms-transform: rotate(90deg) translateY(-100vh);
  transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
body .outer-wrapper .wrapper .block {
  width: 100vw;
  min-width: 800px;
  height: 100vh;
}
body .outer-wrapper .wrapper .I {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
body .outer-wrapper .wrapper .I .logo {
  position: absolute;
  left: 2vw;
  top: 2vw;
  width: 10vw;
}
body .outer-wrapper .wrapper .I .bug {
  position: relative;
  z-index: 1;
  width: 50vw;
}
body .outer-wrapper .wrapper .I .bugs_shadow {
  position: absolute;
  z-index: 0;
  left: 35vw;
  top: 5vw;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: #FF00FF;
}
body .outer-wrapper .wrapper .parallax_bg_block {
  display: flex;
  background: #fff;
}
body .outer-wrapper .wrapper .parallax_bg_block .II {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .parallax_bg_block .II .txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2vw;
  color: #fff;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .parallax_bg_block .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180vw;
  background: #fff;
}
body .outer-wrapper .wrapper .parallax_bg_block .sign .long_word_cover {
  position: relative;
}
body .outer-wrapper .wrapper .parallax_bg_block .sign .long_word_cover .long_word {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 19vw;
  color: #fff;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}
body .outer-wrapper .wrapper .parallax_bg_block .sign .long_word_cover .long_word .letter_down {
  transform: translate(0, 1vw);
}
body .outer-wrapper .wrapper .parallax_bg_block .sign .long_word_cover .js_sign {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  color: #000;
  transition: left 1s, top 1s;
}
body .outer-wrapper .wrapper .parallax_bg_block .sign .long_word_cover .js_anima_sign {
  left: 0.5vw;
  top: 1.5vw;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
body .outer-wrapper .wrapper .parallax_bg_block .III {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .h_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .h_logo h1 {
  font-size: 3vw;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .h_logo .logo_naladka {
  width: 4.5vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url("naladka-logo.png");
  background-size: cover;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .h_logo .logo_argus {
  width: 4vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url("ffhkigpalgidjmom.png");
  background-size: cover;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .h_logo .logo_article {
  width: 4vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url(" article_logo.png");
  background-size: cover;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .txtII {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9vw;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .to_site {
  width: 10vw;
  height: 3.5vw;
  margin-top: 1vw;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.7vw;
  border: none;
  outline: none;
  background: #FFF;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .to_site:focus,
body .outer-wrapper .wrapper .parallax_bg_block .III .txt_block .to_site:active {
  border: none;
  outline: none;
}
body .outer-wrapper .wrapper .parallax_bg_block .III .argus {
  margin-left: 20vw;
  margin-bottom: 0;
}
body .outer-wrapper .wrapper .parallax_window_block {
  display: flex;
  width: 15vw;
  padding: 1vw;
  background: #fff;
  transform: skewX(10deg);
  transform-origin: 100% 0;
  min-width: 0;
  background: #fff;
  transition: transform 1s;
  transform: skewX(10deg) translateY(-100vh);
}
body .outer-wrapper .wrapper .parallax_window_block .parallax_window_block_inner {
  width: 100%;
  height: 100%;
  background: #000;
}
body .outer-wrapper .wrapper .js_parallax_window_block {
  transform: skewX(10deg) translateY(0vh);
}
body .outer-wrapper .wrapper .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180vw;
  background: #fff;
}
body .outer-wrapper .wrapper .sign .long_word_cover {
  position: relative;
}
body .outer-wrapper .wrapper .sign .long_word_cover .long_word {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 19vw;
  color: #fff;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}
body .outer-wrapper .wrapper .sign .long_word_cover .long_word .letter_down {
  transform: translate(0, 1vw);
}
body .outer-wrapper .wrapper .sign .long_word_cover .js_sign {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  color: #000;
  transition: left 1s, top 1s;
}
body .outer-wrapper .wrapper .sign .long_word_cover .js_anima_sign {
  left: 0.5vw;
  top: 1.5vw;
}
body .outer-wrapper .wrapper .long_black, body .outer-wrapper .wrapper .long_white {
  width: 220vw;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .long_black .long_word_cover .long_word, body .outer-wrapper .wrapper .long_white .long_word_cover .long_word {
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .long_white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220vw;
  background: transparent;
}
body .outer-wrapper .wrapper .long_white .long_word_cover {
  position: relative;
}
body .outer-wrapper .wrapper .long_white .long_word_cover .long_word {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 19vw;
  color: #fff;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}
body .outer-wrapper .wrapper .long_white .long_word_cover .long_word .letter_down {
  transform: translate(0, 1vw);
}
body .outer-wrapper .wrapper .long_white .long_word_cover .js_sign {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  color: #000;
  transition: left 1s, top 1s;
}
body .outer-wrapper .wrapper .long_white .long_word_cover .js_anima_sign {
  left: 0.5vw;
  top: 1.5vw;
}
body .outer-wrapper .wrapper .IV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110vw;
  background: #000;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .IV .txt_block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5vw;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .IV .txt_block .to_site {
  width: 10vw;
  height: 3.5vw;
  margin-top: 1vw;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.7vw;
  border: none;
  outline: none;
  color: #000;
  background: #fff;
}
body .outer-wrapper .wrapper .IV .txt_block .to_site:focus,
body .outer-wrapper .wrapper .IV .txt_block .to_site:active {
  border: none;
  outline: none;
}
body .outer-wrapper .wrapper .IV .txt_block .h_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .outer-wrapper .wrapper .IV .txt_block .h_logo h1 {
  font-size: 3vw;
}
body .outer-wrapper .wrapper .IV .txt_block .h_logo .logo_naladka {
  width: 4.5vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url("naladka-logo.png");
  background-size: cover;
}
body .outer-wrapper .wrapper .IV .txt_block .h_logo .logo_argus {
  width: 4vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url("ffhkigpalgidjmom.png");
  background-size: cover;
}
body .outer-wrapper .wrapper .IV .txt_block .h_logo .logo_article {
  width: 4vw;
  height: 4vw;
  margin-left: 1.5vw;
  background-image: url(" article_logo.png");
  background-size: cover;
  filter: invert(1);
}
body .outer-wrapper .wrapper .IV .txt_block .txtII {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9vw;
}
body .outer-wrapper .wrapper .IV .article_I {
  margin: 5vw 0 1.5vw 1vw;
}
body .outer-wrapper .wrapper .IV .article_II {
  margin: 0 0 1.5vw 20vw;
}
body .outer-wrapper .wrapper .IV .article_III {
  margin-left: 27vw;
}
body .outer-wrapper .wrapper .block_V_cover {
  background: #0a0a0a;
}
body .outer-wrapper .wrapper .block_V_cover .V {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  width: 90vw;
  min-width: 0;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  transform: skewX(10deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block .links_cover {
  margin-bottom: 10rem;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block .links_cover a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3vw;
  text-decoration: none;
  color: #fff;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block .links_cover a:nth-child(2) {
  margin: 0 5vw;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block .links_cover a:hover {
  border-bottom: 0.2vw solid #FFF;
}
body .outer-wrapper .wrapper .block_V_cover .V .skew_back_block .my_photo {
  width: 50vw;
  transform: none;
}

/*# sourceMappingURL=index.css.map */
